

 .navbar-brand{
	font-family: "Bebas Neue";
	font-size: 34px;
	font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(86, 86, 86);
  /* padding: 0 0; */
}


.form-control{
  border: none;
}


.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.fa{
    color: #5F5F5F;
}

