<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static "homeapp/index.css" %}">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block body_block %}

<!-- Modal send the stock which is clicked -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <div>
          <!-- <p>Select Stock</p> -->
          <form action="{% url 'homeapp:homepage' %}", method="POST", id = "stockbuyform">
          <label for="stocks">Select stock:</label>
            {% csrf_token %}
           <select id="stocks" name="stocks", form="stockbuyform">
           
           {% for item in allOptions %}
            <option name='stocks' value={{ item.stockId }}>{{ item.stockName }}</option>

           {% endfor %}
            {% comment %} <option value="StockA">StockA</option>
            <option value="StockB">StockB</option>
            <option value="StockC">StockC</option>
            <option value="StockD">StockD</option>
            <option value="StockE">StockE</option>
            <option value="StockF">StockF</option>
            <option value="StockG">StockG</option> {% endcomment %}
          </select>
        </div>
          <label for="fname">Enter Quantity</label>
          <input type="text" id="fname" name="fname" type='number'><br><br>
          <label for="payment">Enter Payment Amount</label>
          <input type="text" id="payment" name="payment" type='number'><br><br>
          <button type="submit" value="submit" class="btn btn-primary container"   data-toggle="modal" data-target="#myModal"  style="background-color: #46c23a;"  >Buy</button>
        </form>

        <p>Trasation completion takes one mintue to complete</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="container">
    <div class="row justify-content-between">
        <div class="col container" style="flex:2.5">
            <div  style="color: rgb(75, 75, 75);
            font-size: 17px;
            font-weight: 600;
          letter-spacing: 0px;
          color: rgb(86, 86, 86);margin-top: 10px;margin-bottom: 10px;">
                TOP GAINERS
            </div>
            {% for item in tops %}
            <div class="container card cardCustom">
                    <div class="row justify-content-between">
                        <div class="col">
                <div class="card-body">
                  <h5 class="card-title">{{ item.stock }}</h5>
                  <p class="card-text">{{ item.price }}<span style="color: #46c23a;">({{ item.percent_increase }}%)</span></p>
                  
                  <!-- <a href="#" class="btn btn-primary">Button</a> -->
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                <img src="{% static "homeapp/graph.svg" %}" style="height: 60px;">
            </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <p class="card-title" style="color: rgba(75, 75, 75, 0.897);">Stock Available {{ item.available }}</p>
                <a  class="btn btn-primary container"  data-toggle="modal" data-target="#myModal"  style="background-color: #46c23a;"  >Buy</a>
            </div>
            </div>

            </div>
              </div>

              {% endfor %}
              {% comment %} <div class="container card cardCustom">
                <div class="row justify-content-between">
                    <div class="col">
            <div class="card-body">
              <h5 class="card-title">Wheat</h5>
              <p class="card-text">68237.34<span style="color: #46c23a;">(+26.01%)</span></p>
              
              <!-- <a href="#" class="btn btn-primary">Button</a> -->
            </div>
        </div>
        <div class="col">
            <div class="card-body">
            <img src="{% static "homeapp/graph.svg" %}" style="height: 60px;">
        </div>
        </div>
        <div class="col">
            <div class="card-body">
                <p class="card-title" style="color: rgba(75, 75, 75, 0.897);">Stock Available 20.00</p>
            <a href="{% url 'homeapp:stockbuy' %}" class="btn btn-primary container"   data-toggle="modal" data-target="#myModal"  style="background-color: #46c23a;"  >Buy</a>
        </div>
        </div>

        </div>
          </div> {% endcomment %}
          {% comment %} <div class="container card cardCustom">
            <div class="row justify-content-between">
                <div class="col">
        <div class="card-body">
          <h5 class="card-title">Wheat</h5>
          <p class="card-text">68237.34<span style="color: #46c23a;">(+26.01%)</span></p>
          
          <!-- <a href="#" class="btn btn-primary">Button</a> -->
        </div>
    </div>
    <div class="col">
        <div class="card-body">
        <img src="{% static "homeapp/graph.svg" %}" style="height: 60px;">
    </div>
    </div>
    <div class="col">
        <div class="card-body">
            <p class="card-title" style="color: rgba(75, 75, 75, 0.897);">Stock Available 20.00</p>
        <a href="{% url 'homeapp:stockbuy' %}" class="btn btn-primary container"   data-toggle="modal" data-target="#myModal"  style="background-color: #46c23a;"  >Buy</a>
    </div>
    </div>

    </div>
      </div> {% endcomment %}

      <div  style="color: rgb(75, 75, 75);
            font-size: 17px;
            font-weight: 600;
          letter-spacing: 0px;
          color: rgb(86, 86, 86);margin-top: 30px;margin-bottom: 20px;">
                All Organization STOCKS
            </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Crop</th>
            <th scope="col">Market Price</th>
            <th scope="col">Stocks Available</th>
            <th scope="col"></th>
            <th scope="col">Buy stocks</th>
          </tr>
        </thead>
        <tbody>
          {% for item in allorgData %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.stock }}</td>
            <td>{{ item.price }}<span style="color: #46c23a;">( {{ item.percent_increase }} %)</span></td>
            <td>{{ item.available }}</td>
            <td><img src="{% static "homeapp/graph.svg" %}" style="height: 20px;"></td>
            <td><a class="container"   data-toggle="modal" data-target="#myModal"  style="color: #46c23a;text-align: left;">BUY</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


        </div>
        <div class="col">
            <div class="card cardCustom">
                <div class="card-body">
                  <!-- <h5 class="card-title" style="text-align: center;">History</h5> -->
                  <p class="card-text" style="text-align: center;">Season Ends in 10 months</p>
                </div>
              </div>
            <div class="card cardCustom">
                <img class="card-img-top" src="https://img.freepik.com/free-vector/online-shopping-mobile-phone-ecommerce-market-flat-illustration-with-small-people_135170-27.jpg?size=626&ext=jpg" alt="Card image cap">
                <div class="card-body">
                  <!-- <h5 class="card-title" style="text-align: center;">History</h5> -->
                  <p class="card-text" style="text-align: center;">Buy new stock before season ends or Sell stock.</p>
                  <a  class="btn btn-primary container"  data-toggle="modal" data-target="#myModal" style="background-color: #46c23a;" >Buy / Sell</a>
                </div>
              </div>
              <div class="card cardCustom">
                <img class="card-img-top" src="https://media.istockphoto.com/vectors/open-banking-platform-concept-vector-illustration-vector-id1169397219?k=6&m=1169397219&s=612x612&w=0&h=gTpdNTwdezBUed4TuYYfGB8ZruzPsiIwjEdiNmhEG-U=" alt="Card image cap">
                <div class="card-body">
                  <!-- <h5 class="card-title" style="text-align: center;">History</h5> -->
                  <p class="card-text" style="text-align: center;">Check your past transactions</p>
                  <a href="{% url 'history:buying_history' %}" class="btn btn-primary container" style="background-color: #46c23a;"  >Transactions History</a>
                  {% comment %} <a href="{% url 'history:selling_history' %}" class="btn btn-primary container" style="background-color: #46c23a;"  >Selling History</a> {% endcomment %}
                </div>
              </div>
              <!-- <div class="card cardCustom">
                <div class="card-body">
                  <p class="card-text" style="text-align: center;">New to Stocks?</p>
                  <a href="#" class="btn btn-primary container" style="background-color: #46c23a;"  >Buy</a>
                </div>
              </div> -->
        </div>
      </div>
</div>
{% endblock %}