@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #fff
}

.login-container{
  position: absolute;
  top: 15;
  padding: 30px;
  border-radius: 10px;
  background-color:rgb(175, 169, 169);
  box-shadow: 0px 0px 10px 0px #000;
  
  
}
.login-form{
  margin: auto;
  width: 370px;
  padding: 15px;
  max-width: 100%;
}
.login-form .form-control{
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}
.login-form a{
  text-decoration: none;
  color:#666;
}
.login-form a:hover{
  color:#46c23a;
}
.forgot-link{
  font-size: 13px;
}

.form-control:focus{
  border-color:#46c23a;
  box-shadow: 0 0 0 0.2rem #46c23a;
}
.btn-custom{
  background: #46c23a;
  border-color:#46c23a;
  color:#fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
  background: #46c23a;
  border-color: #46c23a;
  color:#fff;
}
.btn-custom:focus{
  box-shadow: 0 0 0 0.2rem #46c23a;
}