<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static "history/history.css" %}">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row justify-content-between">
            <div class="col container" style="flex:2.5">
                <div  style="color: rgb(75, 75, 75);
                font-size: 17px;
                font-weight: 600;
              letter-spacing: 0px;
              color: rgb(86, 86, 86);margin-top: 30px;margin-bottom: 20px;">
                    HISTORY
                </div>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Crop</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">From/To:</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Sold/Recieved</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% comment %} <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Wheat</td>
                        <td><span style="color: #46c23a;">12:53</span></td>
                        <td>Wheat Corporation</td>
                        <td>26.00</td>
                        <td>Rs 5743.00</td>
                        <td style="text-align: center;">Sold
                        </td>
                        </tr>  
                        {% endcomment %}

                      {% for item in historyList %}
                       <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ item.stockName }}</td>
                        <td><span style="color: #46c23a;">{{ item.time }}</span></td>
                        <td>{{ item.to_from }}n</td>
                        <td>{{ item.quantity }}</td>
                        <td>Rs {{ item.price }}</td>
                        {% if item.is_sold %}
                        <td style="text-align: center;">Sold
                        </td>
                        {% else %}
                         <td style="text-align: center;">BUY
                        </td>
                        {% endif %}
                      </tr>

                     {% endfor %}

                    </tbody>
                  </table>
            
            </div>
            <div class="col container">
                <div class="card cardCustom">
                    <div class="card-body">
                      <!-- <h5 class="card-title" style="text-align: center;">History</h5> -->
                      <p class="card-text" style="text-align: center;">Season Ends in 10 months</p>
                    </div>
                  </div>
                <div class="card cardCustom">
                    <img class="card-img-top" src="https://img.freepik.com/free-vector/online-shopping-mobile-phone-ecommerce-market-flat-illustration-with-small-people_135170-27.jpg?size=626&ext=jpg" alt="Card image cap">
                    <div class="card-body">
                      <!-- <h5 class="card-title" style="text-align: center;">History</h5> -->
                      <p class="card-text" style="text-align: center;">Explore Stocks</p>
                      <a href="#" class="btn btn-primary container"  data-toggle="modal" data-target="#myModal" style="background-color: #46c23a;" >Home</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>

{% endblock %}